@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);


body {
  background: url('/images/surfing.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: multiple;
  font-family: 'Lora', sans-serif; }

.content {
  text-align: center;
  position: absolute;
  top:25%;
  left: 25%;
  color: white;
  width: 50%;
  background-color: rgba(0,0,0,0.7);
  border: 1px solid black;
  border-radius: 5px;
}

.nav-link { 
  color:white;
  text-decoration: none;
  font-size: 1.5rem;

  &:visited {
    color:white
  }

  &:hover {
    color: #2ecc71;
  }
}

.about-link {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  color: white;
  font-size: 1.5rem;
}

.up-arrow {
  margin: 0;
}

.down-arrow {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color:white;
  font-size: 1.5rem;
  margin: 0;
}

#projects {
  position: absolute;
  right: 0;
  top: 50%;
}

#blog {
  position: absolute;
  left: 0;
  top: 50%;
}

.contact-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
}

.main-info {
  position: absolute;
  left: 43%;
  bottom: 50%;
  text-align: center;
  color:white
}

.name {
  font-size: 3rem;
  margin-bottom: 5px;
}


.project-image-container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.project-image {
  display: block;
  width: 100%;
}

.image-info {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;

  h3,p,h5 {
    color: white;
    opacity: 0;
  }

  &:hover {
      background-color: rgba(0,0,0,0.7);

      h3,p,h5 {
        opacity: 1;
      }
  }
}

.blog-link {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #e74c3c;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 10px;

  &:hover {
    background-color: #c0392b;
  }

  &:visited {
    color:white;
  }
}

.hidden {
  display: none;
}

.social-icon {
  height: 50px;
}
