@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);

body {
  background: url('/images/surfing.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: multiple;
  font-family: 'Dosis', sans-serif; 
}  

a {
  text-decoration: none;
  color: white;
}

.top-name {
  text-align: center;
  color: white;
  font-size: 3rem;
  z-index: -1;
}

.content-container {
  position:absolute;
  top: 30%;
  width: 100%;
}

.content {
  text-align: center;
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right:auto;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }
}

.nav-link { 
  color:white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;

  &:visited {
    color:white
  }

  &:hover {
    color: #2ecc71;
  }
}

.nav-links {
  padding: 0;
  text-align: center;
  list-style: none;

  li {
    display: inline;
    padding: 10px;
  }
}

.links {
  position: relative;
  z-index: 10;
}


.main-info {
  position: absolute;
  width: 100%;
  bottom: 50%;
  display: inline;
  text-align: center;
  color:white;
  z-index: -1;
}

.name {
  font-size: 4rem;
  margin-bottom: 5px;
  display: inline;
}


.project-image-container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.project-image {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.image-info {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;

  h3,p,h5 {
    color: white;
    opacity: 0;
  }

  &:hover {
      background-color: rgba(0,0,0,0.7);

      h3,p,h5 {
        opacity: 1;
      }
  }
}

.blog-link {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  background-color: #e74c3c;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 10px;

  &:hover {
    background-color: #c0392b;
  }

  &:visited {
    color:white;
  }
}

.hidden {
  display: none;
}

.social-icon-twitter {
  height: 30px;
  padding-bottom: 5px;
}

.social-icon-linkedin {
  height: 50px;
}

.short-blurb {
  font-size: 1.5rem;
}
